.amenities-list {
    margin-top: 20px;
  }
  
  .amenity {
    display: flex;
    align-items: center;
    background: #eef1f5;
    padding: 8px;
    border-radius: 4px;
    color: #333;
  
    mat-icon {
      margin-right: 8px;
      color: #2196f3;
    }
  }
  