<div>
    <div class="top">
        <div class="blocka">
            <div class="filter-container">
                <div class="filter-body">
                    <span>
                        <h3>Hostel In chennai, Tamilnadu</h3>
                    </span>
                </div>
                <div class="filter-body">
                    <div class="sort-fil">
                        <span><label for="">Sort By</label></span>
                        <select class="sort-select" name="" id="">
                            <option value="LowtoHigh">Low to High</option>
                            <option value="HightoLow">High to Low</option>
                            <option value="GuestRatings">Guest ratings</option>
                        </select>
                    </div>
                </div>
                <div class="filter-body">
                    <span><label for="">Filter</label></span>
                </div>
            </div>
            <hr class="line">
            <div class="main-body" *ngFor="let data of HostelDetails">
                <div class="left-bar">
                    <div class="img-panel">
                        <img src="{{data.photos[2].imgpath}}" alt="">
                    </div>
                    <div class="img-list">
                        <div *ngFor="let pic of data.photos;let i=index" class="list">
                            <img *ngIf="i < 2" src="{{pic.imgpath}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="right-bar">
                    <div class="right-bar-header bar">
                        <div class="head-dtl">
                            <span>
                                <h3>{{data.hostelDetails.hostelName}}</h3>
                            </span>
                            <span>
                                <h6>{{data.hostelDetails.hostalAddress}}</h6>
                            </span>
                        </div>
                        <div>

                        </div>
                    </div>
                    <div class="right-bar-middle bar">
                        <div class="ratings">
                            <div class="success-rate">
                                <span>{{data.ratings.starrate}}<span>&#9733;</span></span>
                            </div>
                            <div>
                                <span>
                                    <h6>({{data.ratings.totalRatings}} Ratings)</h6>
                                </span>
                            </div>
                            <div>
                                <span>
                                    <h6>{{data.ratings.status}}</h6>
                                </span>
                            </div>
                        </div>
                        <div class="fecilities-main">
                            <ul class="fecilities">
                                <li *ngFor="let fac of data.hostelFacility">
                                    <span class="fac-icon">
                                        <img class="fac-img" src="{{fac.imgpath}}" alt="">
                                        <h6>{{fac.name}}</h6>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="">

                        </div>
                    </div>
                    <div class="right-bar-footer bar">
                        <div class="footer-top">
                            <div class="currency">
                                <span>
                                    <h3>&#8377;{{data.hostelDetails.rent}}</h3>
                                </span>
                                <span class="offer-price">
                                    <h3>&#8377;{{data.hostelDetails.minimumRent}}</h3>
                                </span>
                            </div>
                            <div>
                                <span class="offer">
                                    <h5>{{data.discounts.offerper}}</h5>
                                </span>
                            </div>
                        </div>
                        <div class="footer-btm">
                            <button class="view-dtl">View Details</button>
                            <button class="bk">Book</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>