<div>
    <div class="top">
        <div class="blocka">
            <div class="filter-container">
                <div class="filter-body">
                    <span><h3>Hostel In chennai, Tamilnadu</h3></span>
                </div>
                <div class="filter-body">
                    <div class="sort-fil">
                        <span><label for="">Sort By</label></span>
                        <select class="sort-select" name="" id="">
                            <option value="LowtoHigh">Low to High</option>
                            <option value="HightoLow">High to Low</option>
                            <option value="GuestRatings">Guest ratings</option>
                        </select>
                    </div>
                </div>
                <div class="filter-body">
                    <span><label for="">Filter</label></span>
                </div>
            </div>
            <hr class="line">
            <div class="main-body">
                <div class="left-bar">
                    <div class="img-panel">
                        <img src="assets/images/beds-hostel-affordable-housing-36997317.webp" alt="">
                    </div>
                    <div class="img-list">
                        <div *ngFor="let data of imglist" class="list">
                            <img src="assets/images/beds-hostel-affordable-housing-36997317.webp" alt="">
                        </div>
                    </div>
                </div>
                <div class="right-bar">
                    <div class="right-bar-header bar">
                        <div>
                            <span><h3>Rudhra Hostel</h3></span>
                            <span><h6>Triplicane, Chennai</h6></span>
                        </div>
                        <div>

                        </div>
                    </div>
                    <div class="right-bar-middle bar">
                        <p>hostel</p>
                    </div>
                    <div class="right-bar-footer bar">
                        <p>rudhra</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>