.top {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  width: 100%;
}

.blocka {
  width: 325px;
  height: 100%;
  background-color: #f0f0f0; /* Light grey background */
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
  flex: 1;
  opacity: 0.6;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.filter-body {
  width: 100%;
  text-align: center;
}

.line {
  height: 2px; 
  width: 97%;
  background-color: #333;
  border: none;
  margin: 20px auto;
}

.sort-fil {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
} 

.sort-select {
  width: 100%;
  max-width: 30%;
  padding: 5px;
  border-radius: 10px;
}

.main-body {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
} 

.left-bar {
  width: 100%;
  margin: 15px;
  display: flex;
  margin-bottom: 30px;
  flex: 0;
}

.right-bar {
  width: 100%;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.img-panel {
  width: 460px;
  height: 280px;
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
}

.list {
  width: 200px;
  margin-left: 10px;
}
.img-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

img {
  width: 100%;         
  height: 100%;        
  object-fit: cover;   
}

.bar {
  width: 100%;
  height: 100%;
}

.ratings {
    display: flex;
    align-items: center;
    gap: 30px;
}

.success-rate {
    border: 2px;
    background-color: #52b520;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

ul.fecilities {
    display: flex;
    align-items: center;
    gap: 10px;
}
.fecilities-main {
    margin-top: 6px;
}

.head-dtl {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.right-bar-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-top {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.currency {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-btm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.offer-price {
    text-decoration: line-through;
    font-size: 16px;
    color: #6d787d;
}

.offer {
    font-size: 14px;
    font-weight: 600;
    color: #f5a623;
    line-height: 25px;
}
.view-dtl {
    padding: 7px;
    border-radius: 10px;
    font-size: larger;
    background-color: #00ff00;
    cursor: pointer;
}

.right-bar-middle {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bk {
    padding: 7px;
    border-radius: 10px;
    background-color: red;
    color: white;
    width: 100%;
    max-width: 20%;
    font-size: larger;
    cursor: pointer;
}

.fac-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.fac-img {
    width: 100%;
    height: 100%;
    max-width: 35px;
}

@media screen and (max-width: 1300px) {
    .main-body{
        flex-direction: column;
    }
}