<div>
    <div class="top">
        <div class="blocka">
            <app-filters></app-filters>
            <div class="head">
                <h2 class="form-title">Hostel Details</h2>
            </div>
            <div class="main-cont">
                <div class="main-body" *ngFor="let data of HostelDetails">
                    <div class="left-bar">
                        <div class="img-panel">
                            <img src="{{data.photos[2]}}" alt="">
                        </div>
                        <div class="img-list">
                            <div *ngFor="let pic of data.photos;let i=index">
                                <img class="list" *ngIf="i < 2" [src]="pic" alt="Hostel Photo">
                            </div>
                        </div>
                    </div>
                    <div class="right-bar">
                        <div class="right-bar-header bar">
                            <div class="head-dtl">
                                <span>
                                    <h3>{{data.hostelDetails.hostelName}}</h3>
                                </span>
                                <span>
                                    <h6>{{data.hostelDetails.hostalAddress}}</h6>
                                </span>
                            </div>
                            <div>
    
                            </div>
                        </div>
                        <div class="right-bar-middle bar">
                            <div class="ratings">
                                <div class="success-rate">
                                    <span>{{data.ratings.starrate}}<span>&#9733;</span></span>
                                </div>
                                <div>
                                    <span>
                                        <h6>({{data.ratings.totalRatings}} Ratings)</h6>
                                    </span>
                                </div>
                                <div>
                                    <span>
                                        <h6>{{data.ratings.status}}</h6>
                                    </span>
                                </div>
                            </div>
                            <div class="fecilities-main">
                                <ul class="fecilities">
                                    <li *ngFor="let fac of data.hostelFacility">
                                        <span class="fac-icon">
                                            <img class="fac-img" src="{{fac.imgpath}}" alt="">
                                            <h6>{{fac.name}}</h6>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="">
    
                            </div>
                        </div>
                        <div class="right-bar-footer bar">
                            <div class="footer-top">
                                <div class="currency">
                                    <span>
                                        <h3>&#8377;{{data.hostelDetails.rent}}</h3>
                                    </span>
                                    <span class="offer-price">
                                        <h3>&#8377;{{data.hostelDetails.minimumRent}}</h3>
                                    </span>
                                </div>
                                <div>
                                    <span class="offer">
                                        <h5 class="off-per">{{data.discounts.offerper}}</h5>
                                    </span>
                                </div>
                            </div>
                            <div class="footer-btm">
                                <button class="bk">Delete</button>
                                <button class="view-dtl">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>