<div class="cont">
    <h2 class="header">{{HostelName}}</h2>
    <div class="dtl-main">
        <div class="left-dtl">
            <div class="user-dtl">
                <app-userdtl></app-userdtl>
            </div>
            <div class="property-dtl">
                <app-propertydtl [propertyList]="propertylist"></app-propertydtl>
            </div>
            <div class="payment-dtl">
                <app-paymentdtl></app-paymentdtl>
            </div>
        </div>
        <div class="right-dtl">
            <div class="">
                <app-hostelcard [details]="dtl" [HostelName]="HostelName" [ReviewCount]="ReviewCount" [Rating]="Rating"
                    [HostelAddress]="HostelAddress" [ReviewText]="ReviewText" [Offer]="Offer"
                    [Amount]="Amount" [DiscountAmount]="DiscountAmount" (btnsubmitval)="btnsubmit($event)"></app-hostelcard>
            </div>
        </div>
    </div>
</div>