<div class="cont">
    <h3>Rudhra Hostel</h3>
    <div class="dtl-main">
        <div class="left-dtl">
            <div class="b-line user-dtl">
                <app-userdtl></app-userdtl>
            </div>
            <div class="b-line property-dtl">
                <app-propertydtl></app-propertydtl>
            </div>
            <div class="b-line payment-dtl">
                <app-paymentdtl></app-paymentdtl>
            </div>
        </div>
        <div class="right-dtl">
            <div class="b-line">
                <app-paymentdtl></app-paymentdtl>
            </div>
        </div>
    </div>
</div>
