<div class="container">
    <app-hotel-header [hotel]="hotelDetails"></app-hotel-header>
    <app-image-gallery [images]="images"></app-image-gallery>
    <app-review-section [review]="hotelDetails.reviewText" [reviewer]="hotelDetails.reviewer"
        [rating]="hotelDetails.rating"></app-review-section>
    <div class="Dtl-footer">
        <app-amenities class="amenities" [amenities]="hotelDetails.amenities"></app-amenities>
        <app-location-map class="location-map" [location]="hotelDetails.location"></app-location-map>
    </div>
    <div class="action-buttons">
        <button mat-raised-button color="primary" (click)="bookNow()">Book</button>
        <button mat-raised-button color="accent" (click)="Backbtn()">Back</button>
    </div>
</div>