<div class="container-login100">
    <div class="main">
        <div class="header">
            <div class="DetailHeader" *ngFor="let data of DetailsHeader; let i = index">
                <div class="title-header">
                    <div class="circle" [ngStyle]="{ 'background-color': data.color }">
                        <h4>{{data.value}}</h4>
                    </div>
                    <div class="title">
                        <h4>{{data.title}}</h4>
                    </div>
                </div>
                <div class="arrow" *ngIf="i < DetailsHeader.length - 1">
                    <img width="40px" height="40px" src="assets/images/right-arrow.png" alt="Logo">
                </div>
            </div>
        </div>
        <div *ngIf="ParamsId === 'admin'" class="cont-main">
            <div class="main-body" *ngIf="MainDetails == 1">
                <app-personal-details [PageNo]="DetailsHeader[1].value" (NextPage)="PageChanged($event)"
                    (ChildData)="Getdata($event)"></app-personal-details>
            </div>
            <div class="main-body" *ngIf="MainDetails == 2">
                <app-hostals-details [PageNo]="DetailsHeader[2].value" (PrevPage)="PageChanged($event)" (NextPage)="PageChanged($event)"
                    (ChildData)="Getdata($event)"></app-hostals-details>
            </div>
            <div class="main-body" *ngIf="MainDetails == 3">
                <app-account [PageNo]="DetailsHeader[2].value" (PrevPage)="PageChanged($event)" (ChildData)="Getdata($event)"></app-account>
            </div>
        </div>
        <div *ngIf="ParamsId === 'user'" class="cont-main">
            <div class="main-body" *ngIf="MainDetails == 1">
                <app-user-acc [PageNo]="DetailsHeader[1].value" (NextPage)="PageChanged($event)"
                (ChildData)="Getdata($event)"></app-user-acc>
            </div>
            <div class="main-body" *ngIf="MainDetails == 2">
                <app-account [PageNo]="DetailsHeader[0].value" (PrevPage)="PageChanged($event)" (ChildData)="Getdata($event)"></app-account>
            </div>
        </div>
    </div>
</div>